<section>
	 <div id="agendas" class="content-wrapper">
	 	<div class="row">
	 		<a href="{{ site.baseurl }}/unga">
	 		<div class="col-md-4" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/UNGA.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</div>
	 		</div>
	 		</a>
	 		<a href="{{ site.baseurl }}/lok-sabha">
	 		<div class="col-md-4" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/Lok Sabha.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</div>
	 		</div>
	 		</a>
	 		<a href="{{ site.baseurl }}/ecosoc">
	 		<div class="col-md-4" align="center">
	 			<div class="apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/ECOSOC.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</div>
	 		</div>
	 		</a>
	 </div>
	 <div class="row">
	 		<div class="col-md-12" align="center">
	 			<a href=""><div class="apply-type-2"  style="background-image: url('{{ site.baseurl }}/img/apply/WTO.png');">
	 			</div></a>
	 		</div>
	 </div>
</section>