<section id="agenda-main">
	 <div class="content-wrapper">
	 	<div class="row">
	 		<div class="col-md-4" align="center">
	 			<a href="{{ site.baseurl }}/unga" class="tile-button apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/UNGA.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</a>
	 		</div>
	 		<div class="col-md-4" align="center">
	 			<a href="{{ site.baseurl }}/lok-sabha" class="tile-button apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/Lok Sabha.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</a>
	 		</div>
	 		<div class="col-md-4" align="center">
	 			<a href="{{ site.baseurl }}/ecosoc" class="tile-button apply-type"  style="background-image: url('{{ site.baseurl }}/img/apply/ECOSOC.png');">
	 				<!--
	 				<a href="{{ item.applyLink }}" class="btn btn-responsive btn-primary apply-button" style="color: white;">APPLY</a>
	 			-->
	 			</a>
	 		</div>
	 </div>
</section>