<section id="contact-us-top">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-5" style="background-color: #2720a1">
		<div id="left_div" class="contact-image">
			<div class="row">
				<div align="left" class="col-md-10 col-md-offset-2 contact-text">
					Contact Us
				</div>
			</div>
			<div align="left" class="row">
				<div class="col-md-5 col-md-offset-2">
					<div class="instagram2-logo"></div>
					<div class="facebook2-logo"></div>
					<div class="twitter2-logo"></div>
				</div>
			</div>
		</div>
		</div>
		<div id="right_div" class="col-md-5" style="background-color: #e7e7e7">
			<div class="row">
				<div align="left" class="col-md-10 col-md-offset-2">
					<br>
					<br>
					<h5 class="big-contact-text">
						Mail Us:
					</h5>
					<h6 class="small-contact-text">
						iitgmun@alcheringa.in
					</h6><br>
					<h5 class="big-contact-text">
						Call Us:
					</h5>
					<h6 class="small-contact-text">
						+91 8486772158<br>
						+91 8486808779<br>
						+91 9811040041
					</h6>
					<br>
					<br>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10" style="padding-left: 0; padding-right: 0">
			<iframe style="width:100%; height:80vh;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.170941981909!2d91.69035831519068!3d26.1911169834437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5ac17d2b58d7%3A0xb853cd7b55039193!2sIIT+Guwahati+Conference+Hall!5e0!3m2!1sen!2sin!4v1541868143409" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-1"></div>
	</div>

<script>
	var left = document.getElementByID("left_div").style.height;
	var right = document.getElementByID("right_div").style.height;

	document.getElementByID("left_div").style.height = right;
</script>

</section>