<section id="contact-us-top">
	<div class="row">
		<div class="col-ms-1"></div>
		<div class="col-ms-5 contact-image" style="background-color: #2720a1">
			<div class="row">
				<div class="col-md-10 col-md-offset-2 contact-text">
					Contact Us
				</div>
			</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-2">
					<div class="instagram2-logo"></div>
					<div class="facebook2-logo"></div>
					<div class="twitter2-logo"></div>
				</div>
			</div>
		</div>
		<div class="col-ms-5" style="background-color: #e7e7e7">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<p class="big-contact-text">
						Mail Us:
					</p>
					<p class="small-contact-text">
						iitgmun@alcheringa.in
					</p>
					<p class="big-contact-text">
						Call Us:
					</p>
					<p class="small-contact-text">
						+91 8486772158<br>
						+91 8486808779<br>
						+91 9811040041
					</p>
				</div>
			</div>
		</div>
		<div class="col-ms-1"></div>
	</div>
	<div class="row">
		<div class="col-ms-1"></div>
		<div class="col-ms-10">
			<div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=26.189576799999998, 91.69278709999999&amp;q=IIT%20Guwahati+(IIT%20Guwahati%20MUN)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/create-google-map/">Embed Google Map</a></iframe></div><br />
		</div>
		<div class="col-ms-1"></div>
	</div>

</section>