<section class="councils-page" id="ecosoc-page">
<div class="container">
    <div class="page-header">
        <h1>{{ site.ecosoc-title }}</h1>
    </div>
    <div class="row">
        <div class=""></div>
        <div class="row-sm-6">
            <p>{{ site.ecosoc-popup-text-about }}</p>
        </div>
        <div class="row-sm-6">
            <b><h4 class="timeline-title">{{ site.ecosoc-agenda-text }}</h4></b>
            <p>{{ site.ecosoc-popup-text-agenda }}</p>
        </div>
        <div class=""></div>
    </div>
</div>
</section>