<div class="footer-box">
	<div class="row">
		<div class="footer col-md-4 col-md-offset-4" align="center">
			<div class="row">
	        <div style="position: center;" class="footer-logo"><br>
	        	</div></div>
	        <div class="row">
	        	<a href="http://twitter.com/iitg_mun">
	        	<div class="col-md-3 twitter-logo"></div>
	        	</a>
	        	<a href="http://fb.com/iitgmun">
	        	<div class="col-md-3 facebook-logo"></div>
	        	</a>
	        	<a href="http://instagram.com/iitg_mun">
	        	<div class="col-md-3 instagram-logo"></div>
	        	</a>
	        	<a href="http://iitgmun.wordpress.com">
	        	<div class="col-md-3 wordpress-logo"></div>
	        	</a>
	        </div>
	        <div class="row">
	        	<div class="col-md-12" align="center">
	        	<p class="footer" id="footnote">
					&copy; 2018 Designed by Srishti Malaviya <br> Developed by Vedant Chakravadhanula and Vrishank Bhardwaj.</a>
				</p>
			</div>
	        </div>

	        <div class="row">
	        	<a href="https://www.alcheringa.in/beta/">
	        	<div class="col-md-2 col-md-offset-5 alcheringa-logo" align="center">
	        	</div>
	        </a>
	        </div>
	    </div>
	</div>
</div> 