<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/top.png');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <h3 style="font-size: 58px; letter-spacing: 1px; color: rgb(39,32,161); text-align:right; margin-right:176px;">IIT Guwahati</h3>
            <h1 style="font-size: 199px; letter-spacing: 2px; color: rgb(39,32,161); text-align:right; margin-right:137px;">MUN</h1>
            <h2 style="font-size: 73px;letter-spacing: 1px;color: rgb(172,130,48); text-align:right; margin-right:160px;">EDITION X</h2>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
