<section class="councils-page" id="lok-sabha-page">
<div class="container">
    <div class="page-header">
        <h1>{{ site.lok-sabha-title }}</h1>
    </div>
    <div class="row">
        <div class=""></div>
        <div class="row-sm-6">
            <b><h4 class="timeline-title">About the Council</h></b>
            <p>{{ site.lok-sabha-popup-text-about }}</p>
        </div>
        <div class="row-sm-6">
            <b><h4 class="timeline-title">{{ site.lok-sabha-agenda-text }}</h4></b>
            <p>{{ site.lok-sabha-popup-text-agenda }}</p>
        </div>
        <div class=""></div>
    </div>
</div>
</section>