<section id="main-workshop" class="main-workshop">
<div class="speech-box"> </div>
  <div class="row row-speech">
  	<div class="speech-blank"> </div>
  	<div class="speech-column">
  	<div id="speechImage" class="speech-image"></div>
  </div>
  <div class="speech-text-column"> 
  <div class="speech-text">
<div align="center" class="speech-head">LETTER FROM THE SECRETARY-GENERAL</div>
<br>
<br>
Dear delegates,
<br>
<br>
As the Secretary-General of IIT Guwahati Model United Nations, Edition X, I couldn’t be more honoured to welcome you all on behalf of my passionate team to our most ambitious conference yet. Every year, we endeavour to provide a simulated learning platform to like-minded folks with a zealous passion for debating, international diplomacy as well as political dialogue and deliberative problem-solving. Industry, diligence and perseverance are virtues that we at the secretariat deem as cornerstones of our organization.
<br>
<br>
The contemporary world scenario has been dominated by disruptions, both positive and negative. While the former can serve as a driving force for the global growth engine, dealing with the latter requires meticulous planning and deliberation. As a proponent of this thought, we have handpicked four agendas for this winter and set the floor for discussion on the same, namely:- “Addressing power disparity in the World Trade Organisation: structural reform and policy revision”, “Secession of the UK from the European Union: trade, border policy and immigration”, ”Amendment to the transgender rights bill: empowerment, anti-discrimination and gender dysphoria”, and “Safeguarding privacy in the era of mass surveillance.”
<br>
<br>
The three days spent here will not only elevate us on a personal level but will also forge bonds and friendships that last a lifetime. So, learn, interact and join the confluence of minds that is IIT Guwahati Model United Nations.
<br>
<br>
Regards,
<br>
Tejal Agarwal<br>
Secretary-General<br>
IIT Guwahati Model United Nations<br>
Edition X 
</div>
</div>
<div class="speech-blank"> </div>
</div>
<div class="speech-box"> </div>
</section>