<section id="main-workshop" class="main-workshop" style="background-image:url('img/sections-background/main2.png')">
  <div>
    <h2 style=" color:#2720a1;">IITG Model United Nations</h2>
    <h4 style=" color:#2720a1;">presents<h4>
    <h1 style="font-size:50px ; color:#ac8230;">MUN<h1>
    <h1 style="font-size:30px ; color:black;">WORKSHOP<h1>

    <button style="padding: 5px 20px;background-color:#ac8230;color:white;border-radius: 8px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;border-bottom-width: 0px;">LEARN MORE</button>
    <button style="padding: 5px 20px;background-color:#ac8230;color:white;border-radius: 8px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);border-top-width: 0px;border-left-width: 0px;border-right-width: 0px;border-bottom-width: 0px;">APPLY NOW</button>

  </div>
</section>
