<section id="main-workshop" class="main-workshop" style="background-image:url('img/sections-background/main2.png')">
  <div style="padding:30px;">
    <h4 style=" color:#2720a1; margin:0px;">IITG Model United Nations</h4>
    <h3 style=" color:#2720a1; font-size:35px; margin:0px;">presents</h3>
    <h1 style="font-size:200px ; color:#ac8230; margin:0px;">MUN</h1>
    <h1 style="font-size:75px ; color:black; margin:0px;">WORKSHOP</h1>

    <button class="workshop-button">LEARN MORE</button>
    <button class="workshop-button">APPLY NOW</button>
  </div>
</section>
