<section id="about" class="about" style="background: rgba(37,32,31,0.8);">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <img class = "img-circle img-responsive" src="{{ site.baseurl }}/img/about-section/{{ site.reviewsImage }}" alt="tempText">
            </div>
            <font color="white">
                <div class="col-md-7 col-xs-8 col-sm-8 text-left">
                    <h5>{{ site.reviewsTitle }}</h5>
                    <p style="font-style: italic;">{{ site.reviewsContent }}</p>
                    <p style="font-style: italic;">- Ariktha Srivathsan</p>
                </div>
            </font>
        </div>
    </div>
</section>
