<section id="about" class="about" style="background: rgba(172,130,48,0.8);">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <img class = "img-circle img-responsive" style="margin-top:30px;" src="{{ site.baseurl }}/img/about-section/{{ site.reviewsImage }}" alt="tempText">
            </div>
            <font color="white">
                <div class="col-md-7 col-xs-8 col-sm-8 text-left">
                    <h3 style="font-size:50px; margin-bottom:20px;">{{ site.reviewsTitle }}</h3>

                      <p style="font-size: 25px;text-align:  justify;  font-weight:  bold;word-spacing: 2px;line-height: 30px;">{{ site.reviewsContent }}</p>
                      <p style="font-size:  25px;padding: 20px; font-weight:  bold;">- Ariktha Srivathsan</p>

                </div>
            </font>
        </div>
    </div>
</section>
