<section class="councils-page" id="unga-page">
<div class="container">
    <div class="page-header">
        <h1>{{ site.unga-title }}</h1>
    </div>
    <div class="row">
        <div class=""></div>
        <div class="row-sm-6">
            <!--
            <p>{{ site.unga-popup-text-about }}</p>
        -->
        </div>
        <div class="row-sm-6">
            <b><h4 class="timeline-title">{{ site.unga-agenda-text }}</h4></b>
            <p>{{ site.unga-popup-text-agenda }}</p>
        </div>
        <div class=""></div>
    </div>
</div>
</section>