<section class="councils-page" id="wto-page">
<div class="container">
    <div class="page-header">
        <h1>{{ site.wto-title }}</h1>
    </div>
    <div class="row-sm-6">
            <b><p>{{ site.wto-popup-text-agenda }}</p></b>
        </div>
    <div class="page-header">
        <b><h4 class="timeline-title">WORLD TRADE ORGANIZATION</h4></b>
    </div>
    <div class="row">
        <div class=""></div>
        <div class="row-sm-6">
        </div>
        <div class="row-sm-6">
            <b><h4 class="timeline-title">{{ site.wto-agenda-text }}</h4></b>
            <p>{{ site.wto-popup-text-agenda2 }}</p>
        </div>
        <div class=""></div>
    </div>
</div>
</section>